<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
        <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/css/mcustomscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link rel="icon" href="Content/img/favicon.ico" type="image/x-icon">
    <link href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
    <!-- ./meta section -->

    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/dev-other/dev-ie-fix.css">
        <![endif]-->

    <!-- javascripts -->
    @*    <script type="text/javascript" src="Scripts/Plugins/modernizr/modernizr.js"></script>*@

    <script>
        window.urlBase = '@Url.Content("~")';
    </script>
    <!-- ./javascripts -->

</head>

<body>
    <!-- page wrapper -->
    <div class="dev-page">
        <!-- page header -->
        <div class="dev-page-header">

            <div class="dph-logo">
                <a href="index.html">ACMA</a>
                <a class="dev-page-sidebar-collapse">
                    <div class="dev-page-sidebar-collapse-icon">
                        <span class="line-one"></span>
                        <span class="line-two"></span>
                        <span class="line-three"></span>
                    </div>
                </a>
            </div>

        </div>
        <!-- ./page header -->

        <!-- page container -->
        <div class="dev-page-container">

            <!-- page sidebar -->
            @Html.Partial("Partials/_MenuLeft");
            <!-- ./page sidebar -->

            <!-- page content -->
            <div class="dev-page-content">
                <!-- page content container -->
                <div class="container">

                    <!-- page title -->
                    <div class="page-title">
                        <h1>@ViewBag.Title</h1>

                        <ul class="breadcrumb">
                            <li><a href="#">breadcrumb</a></li>
                            <li>nav</li>
                        </ul>
                    </div>
                    <!-- ./page title -->

                    <!-- main content page -->
                    @RenderBody();
                    <!-- ./main content page -->

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="pull-left">
                            &copy; 2015 <strong>Aqvatarius</strong>. All rights reserved.
                        </div>
                        <div class="pull-right">
                            <a href="#">Terms of use</a> / <a href="#">Privacy Policy</a>
                        </div>
                    </div>
                    <!-- ./Copyright -->
                </div>
                <!-- ./page content container -->

            </div>
            <!-- ./page content -->
        </div>
        <!-- ./page container -->

        <!-- page footer -->
        <div class="dev-page-footer dev-page-footer">
            <!-- dev-page-footer-closed dev-page-footer-fixed -->
            <ul class="dev-page-footer-controls">
                <li><a href="@Url.Action("Logout", "Authorize")" class="tip" title="Logoff"><i class="fa fa-power-off"></i></a></li>

                <li class="pull-right">
                    <a class="dev-page-sidebar-minimize tip" title="Toggle navigation"><i class="fa fa-outdent"></i></a>
                </li>
            </ul>

        </div>
        <!-- ./page footer -->

        <!-- page search -->
        <div class="dev-search">
            <div class="dev-search-container">
                <div class="dev-search-form">
                    <form action="index.html" method="post">
                        <div class="dev-search-field">
                            <input type="text" placeholder="Search..." value="Nature">
                        </div>
                    </form>
                </div>
                <div class="dev-search-results"></div>
            </div>
        </div>
        <!-- page search -->

        <!-- page modals -->
        @Html.Partial("Partials/_Modal")
        <!-- page modals -->
    </div>
    <!-- ./page wrapper -->

    <!-- javascript -->
    @* @Scripts.Render("~/bundles/jquery")*@

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-switch.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/Scripts/Plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    @Scripts.Render("~/bundles/template")

    <!-- Common scripts -->
    <script src="~/Scripts/Common/Common.js"></script>
    <script src="~/Scripts/Common/Loader.js"></script>
    <script src="~/Scripts/Common/Modal.js"></script>
    <script src="~/Scripts/Common/ValidateMethod.js"></script>
    <script src="~/Scripts/Common/Validate.js"></script>

    @RenderSection("scripts", required: false)

    <!-- ./javascript -->


</body>

</html>
