@using ACMA.Models.User
@model UpdateUserModel

@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/User/UpdateUser.js"></script>

    <script type="text/javascript">
        UpdateUser.init();
    </script>
}

<form class="form-horizontal" action="javascript:void(0)" method="post" id="formUpdateUser">
    @Html.HiddenFor(m => m.Id, new { title = "Id", id = "Id", Name = "Id"})

    <div class="wrapper wrapper-white">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome de Usuario</label>
                    @Html.TextBoxFor(m => m.UserName, new { title = "UserName", id = "UserName", Name = "UserName", @class = "form-control", disabled = "disabled"})
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Senha</label>
                    @Html.PasswordFor(m => m.Password, new { title = "Password", id = "Password", Name = "Password", value = Model.Password, @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome Completo</label>
                    @Html.TextBoxFor(m => m.FullName, new { title = "FullName", id = "FullName", Name = "FullName", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Telefone</label>
                    @Html.TextBoxFor(m => m.Phone, new { title = "Phone", id = "Phone", Name = "Phone", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(m => m.Email, new { title = "Email", id = "Email", Name = "Email", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Perfil de Acesso</label>
                    <select title="IdSelectListProfile" id="IdSelectListProfile" name="IdSelectListProfile" class="form-control selectpicker">
                        <option value="" disabled selected>-- Selecione --</option>
                        <option value="1">Analista de TI</option>
                        <option value="2">Gestor</option>
                        <option value="3">Funcionário</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ativo</label>
                    @Html.CheckBoxFor(m => m.Active, new { title = "Active", id = "Active", Name = "Active", @class = "form-control switch", data_size="small" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Bloqueado</label>
                    @Html.CheckBoxFor(m => m.Blocked, new { title = "Blocked", id = "Blocked", Name = "Blocked", @class = "form-control switch", data_size="small" })
                </div>
            </div>
        </div>
        <div class="form-group no-border margin-top-20">
            <button type="submit" data-text="Atualizar" class="btn btn-success btn-block">Atualizar</button>
        </div>
    </div>
</form>
